<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="fr.obeo.training.relational.presentation.RelationalModelWizardID"
            name="%_UI_RelationalModelWizard_label"
            class="fr.obeo.training.relational.presentation.RelationalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RelationalModelFile.gif">
         <description>%_UI_RelationalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="fr.obeo.training.relational.presentation.RelationalEditorID"
            name="%_UI_RelationalEditor_label"
            icon="icons/full/obj16/RelationalModelFile.gif"
            extensions="relational"
            class="fr.obeo.training.relational.presentation.RelationalEditor"
            contributorClass="fr.obeo.training.relational.presentation.RelationalActionBarContributor">
      </editor>
   </extension>

</plugin>
